Flask
Flask-Cors
mysql-connector-python
psycopg2-binary
pyodbc
snowflake-connector-python
oracledb
SQLAlchemy
pandas
numpy
openpyxl
XlsxWriter
ydata-profiling
docx2txt
PyPDF2
beautifulsoup4
requests
bcrypt
reportlab
pyarrow
python-dotenv
setuptools
gunicorn==21.2.0

